.container {
  .btnContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .card {
    width: 90%;
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 10px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #c2f2db;
    .key {
      font-size: 32px;
      font-weight: bold;
    }
    .value {
      font-weight: normal;
      font-size: 24px;
    }
  }
  .dangerButton {
    margin-inline: auto;
  }
}

.popUp {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background: rgba(10, 24, 17, 0.48);
  backdrop-filter: blur(11px);
  display: flex;
  justify-content: center;
  align-items: center;
  .alert {
    background: rgba(104, 104, 104, 0.48);
    backdrop-filter: blur(11px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    h4 {
      font-size: 23px;
      color: white;
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }
}
