$radius: 8px 8px 0 0;

.card {
  width: 300px;
  min-height: 404px;
  max-height: fit-content;
  padding-bottom: 14px;
  background-color: #c2f2db;
  border-radius: $radius;
  .imageContainer {
    width: 100%;
    height: 240px;
    border-radius: $radius;
    margin-bottom: 5px;
    img {
      object-fit: cover;
    }
  }
  .body {
    padding-inline: 16px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 31px;
    }
  }
  .controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      text-align: center;
      font-size: 16px;
    }
  }
}
