.h1 {
  font-size: 40px;
  text-align: center;
}

@mixin popup {
  position: absolute;
  font-size: 16px;
  right: -100%;
  top: calc(100vh - 100px);
  background-color: #4e5e55;
  padding: 20px;
  border-radius: 16px;
  transition: right 300ms linear;
  z-index: 1000000000000000000000000000000000000000;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    margin-bottom: 30px;
  }
  .btnContainer {
    display: flex;
    gap: 16px;
  }
}

.alert {
  color: #e8261f;
  @include popup();
  &.activeAlert {
    right: 20px;
  }
}

.success {
  color: #17e381;
  @include popup();
  &.activeSuccess {
    right: 20px;
  }
}
