.navbar {
  background-color: #1e2d25;
  padding-inline: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 40px;
  width: 100%;
  .logo {
    color: white;
  }
  @media (max-width: 440px) {
    padding-inline: 16px;
  }
  .listContainer {
    list-style: none;
    display: flex;
    gap: 8px;
    .listItem {
      color: white;
    }
  }
}
