.container {
  margin-top: 110px;
  width: calc(100% - 194px);
  margin-left: auto;
  margin-bottom: 50px;
  &.notLoggedIn {
    width: 100%;
  }
  @media (max-width: 560px) {
    width: calc(100% - 50px);
  }
  .addPhoto {
    margin: 40px auto;
    cursor: pointer;
  }
  .submit {
    margin: 0 auto;
  }
  .formContainer {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .buttonContainer {
      display: flex;
      gap: 16px;
      margin-inline: auto;
      width: fit-content;
      margin-top: -15px;
    }
  }
}
