.h1 {
  text-align: center;
  margin-bottom: 79px;
  @media (max-width: 436px) {
    font-size: 24px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 21px;
  gap: 32px;
  @media (max-width: 328px) {
    width: 100%;
    padding-inline: 16px;
  }
}

button.seeMore {
  margin-inline: auto;
  margin-bottom: 30px;
}
