*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Globals */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

@mixin btn {
  padding: 10px 24px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 8px;
}

.btn-primary {
  @include btn();
  background-color: #17e381;
  color: #ffffff;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: darken(#17e381, 10%);
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10000;
    width: 10px;
    border-radius: 8px 0 0 8px;
    transition: width 300ms linear;
    opacity: 0.5;
  }
}

.btn-danger {
  @include btn();
  background-color: #e8261f;
  color: white;
}

.text-big {
  font-size: 40px;
}

.text-mid {
  font-size: 32px;
}

.text-small {
  font-size: 24px;
}

.text-vs {
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.container {
  margin-top: 110px;
  width: calc(100% - 194px);
  margin-left: auto;
  margin-bottom: 50px;
  &.notLoggedIn {
    width: 100%;
  }
  @media (max-width: 560px) {
    width: calc(100% - 50px);
  }
}
